<!DOCTYPE html>
<html lang="de">
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        <link rel="icon" type="image/png" href="img/OSA_logo.png">
        <meta charset="utf-8">
        <title>OneStepAhead</title>
    </head>
    <body>
        <header>
            <h1 id="headLine">One Step Ahead</h1>
            <h2 id="subHeadLine">Epidemic growth rate modelling and prediction for current 2019-nCoV outbreak</h2>
            <div id="loadingBackground">
                <div class="loadingImage" id="loading0"></div>
                <div class="loadingImage" id="loading1"></div>
                <div class="loadingImage" id="loading2"></div>
                <div class="loadingImage" id="loading3"></div>
                <div class="loadingImage" id="loading4"></div>
                <div class="loadingImage" id="loading5"></div>
                <div class="loadingImage" id="loading6"></div>
                <div class="loadingImage" id="loading7"></div>
                <div class="loadingImage" id="loading8"></div>
            </div>
        </header>
        <main>
            <nav id="nav">
                <p>One Step Ahead</p>
            </nav>
            <section id="section1">
                <div id="aboutUs">
                    <h2>About us</h2>
                    <p>We are a group of passionate creatives and coders who want to help fighting the spread and the consquences of the Spread of the novel Coronavirus, causing COVID-19.</p>
                    <h3>Problem description</h3>
                    <p>Many problems arise with COVID-19 and the battle against it. Since there is no Vaccination available, all that can be done are Non-Pharmaceutical Interventions. By the time there is Data available how successfull these Interventions were in managing the spread of Covid19.
                    The situation is changing rapidly, so one might not have the time to wait for new scientific paper to be published, just including the newest data.</p>
                    <h3>Solution description</h3>
                    <p>We develop a Website, which gives stakeholders and interested people the possibility to create regression models for the initial growth rate of the spread in a given country. Also one can use a given Prediction model and play around with the input factors to see which Variables influence the spread in what manner.</p>
                    <p>Also we provide an event history regression model on the Timing and Type of Interventions. To use this tool might help getting a better understanding of the possibilities to control the spread.</p>
                    <p>The Data we use is always up to date, so all calculations and predictions are getting more accurate over time.</p>
                    <p>We plan to improve our Website, so it can be modified for future pandemics and other diseases as well.</p>
                    <h4>what is new about this approach?</h4>
                    <p>We can</p>
                    <ul>
                    <li>predict the number of cases from general country Data e.g. GDP, quality of Healthcare system
                    but also</li>
                    <li>explain how effective governmental measures taken are and provide a tool on planning those</li>
                    </ul>
                    <h3>Data Sources</h3>
                    <ul>
                    <li>Data Repository by Johns Hopkins
                    ...<a href="https://github.com/CSSEGISandData/COVID-19">https://github.com/CSSEGISandData/COVID-19</a></li>
                    <li>Prosperity Index</li>
                    <li>Human Development Report</li>
                    </ul>
                    <h3>Solution Architecture</h3>
                    <p>We use a python backend with a Data Pipeline, providing our Model with the newest data available. This is Integrated into a Flask-Application. Front End is Programmed in Javascript.</p>
                </div>
                <div id="scrollPoint" style="opacity: 0;">you dount find me</div>
                <div id="page1">
                    <div id="countries">
                        <h3>Countries</h3>

                        <label id="logLabel">
                            Log Y-Axis
                            <input type="checkbox" id="logCheck" value="false" onchange="logChanged()">
                        </label>
                        <button onclick="uncheck()">Uncheck all</button>
                        <button onclick="check()">check all</button>
                        <input id="search" type="text" placeholder="Search" onkeyup="search()">
                        <div id="countryList"></div>
                    </div>
                    <div id="graph">
                        <p><b>Confirmed cases</b> plotted against <b>time</b>. Time starts for each country after reaching 100 cases</p>
                        <canvas id="graphs" width="900px" height="500px"></canvas>
                    </div>
                </div>
            </section>
            <section  id="section2">
                <div id="predictionHead"><h2>Prediction models</h2></div>
                <div id="parameters">
                    <h3>Parameters</h3>
                    <div id="parameterSettings">
                        <div id="accuracy" class="setting"></div>
                        <div id="presets">
                            <label for="presetSelect">Presets: </label>
                            <select id="presetSelect" onchange="presetChanged()">
                                <option>Recommended</option>
                            </select>
                            <button onclick="addPreset()">Add</button>
                            <button onclick="removePreset()">Remove</button>
                        </div>

                        <button id="makeButton" onclick="sendParameters()" class="setting">Make</button>
                    </div>
                    <hr>
                    <h4 class="noselect">Selected</h4>
                    <div id="parameterSelected"></div>
                    <h4 class="noselect">Unselected</h4>
                    <div id="parameterUnselected"></div>
                </div>
                <canvas id="predictionCanvas" width="900px" height="500px"></canvas>
            </section>
        </main>
        <footer>
            Footer toDo
        </footer>
        <script src="{{ url_for('static',filename='js/graphs.js') }}"></script>
        <script src="{{ url_for('static',filename='js/load.js') }}"></script>
        <script src="{{ url_for('static',filename='js/js.js') }}"></script>
    </body>
</html>